*{
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.custom-container h3{
    font-size: 50px;
    margin-bottom: 125px; 
}
.custom-container{
    border: 1px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product{
    text-align: center;
    margin-bottom: 5px;
}
.row button{
    margin: 12px;
}

